html {
    background-image: url("./Starry_Background.jpg");
    color:antiquewhite;
}

table {
    width: 100%;
    border-collapse: collapse;
}

h1 {
    text-align: center;
}


th,
td {
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}